@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-style: bold;
}
body {
  background-image: url(img/LAVEN.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 78% center;
  background-size: 300px 300px;
  font-family: "GmarketSansMedium";
  background-color: #0f172a;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sizing {
  width: 75%;
}
header {
  z-index: 10;
  position: fixed;
  margin: 0px auto;
  background-color: #0f172a00;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
nav li {
  display: inline-block;
  margin-right: 70px;
  font-size: 20px !important;
  color: #fff;
  text-decoration: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav a:active {
  background-image: linear-gradient(to right, #7477ff, #cd63fe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#logo {
  padding-top: 5px;
  transform: scale(1);
  transition: cubic-bezier(0.4, 0, 0.6, 1) 0.25s;
}
#introduce {
  justify-content: flex-start;
  font-size: 72px;
}
.int_hi,
.int_im {
  font-family: "GmarketSansLight";
}
.int_laven {
  font-family: "GmarketSansBold";
  background-image: linear-gradient(to right, #7477ff, #cd63fe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.int_design {
  font-size: 18px;
  color: #909090;
  padding-top: 30px;
}
.int_sp {
  font-family: "GmarketSansLight";
  margin-left: -15px;
}
#contact {
  padding-top: 40px;
}
.icon {
  margin-right: 50px;
  display: inline-block;
  transform: scale(1);
  transition: cubic-bezier(0.4, 0, 0.6, 1) 0.25s;
}
.icon:hover,
#logo:hover,
.skillicon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.arrow {
  margin-top: calc(90vh - 60px);
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  animation: arrowani 1.5s infinite;
}
@keyframes arrowani {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
.title {
  font-size: 30px;
  font-family: "GmarketSansBold";
  margin-bottom: -5px;
}

.footer {
  display: flex;
  background-color: #1e293b;
  height: 100px;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.heart {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#about {
  background-color: #1e293b95;
}
.about_me {
  margin-top: 20px;
  font-family: "GmarketSansLight";
  color: #bbb;
  line-height: 2;
}

#Skills {
  color: #fff;
  position: relative;
  margin-top: 30px;
  font-family: "GmarketSansBold";
  font-size: 20px;
}

.skillicon {
  margin-top: 20px;
  width: 55px;
  margin-right: 30px;
  transition: cubic-bezier(0.3, 0, 0.4, 1) 0.25s;
}
@media (max-width: 850px) {
  .sizing {
    width: auto;
  }
  nav {
    display: none;
  }
  header {
    width: 85% !important;
    justify-content: flex-end;
  }
}
